<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLinkActive='active' routerLink='/'> KnowApp </a>

    <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async" >
    
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink='/lists'> My Connections List </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink='/connections'> Connections </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink='/messages'> Messages </a>
      </li>
      
    </ul>


    <div class="dropdown" *ngIf="accountService.currentUser$ | async as user" dropdown>
      <img src="{{user.photoUrl || '/assets/user.png'}}" class="profile-thumbnail">
      <a class="dropdown-toggle text-light" dropdownToggle>
        My Account
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a routerLink='/connection/edit' class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a href="" class="dropdown-item" (click)="logout()"> Log out </a>
      </div>
    </div>

    <form
      *ngIf="(accountService.currentUser$ | async) == null"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="Username"
        [(ngModel)]="model.Username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="Password"
        [(ngModel)]="model.Password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success my-2 my-sm-0" type="submit">
        Log In
      </button>
    </form>
  </div>
</nav>
